/* lg */ 
@media (min-width: 1200px) {
	.product-name {
		font-size:45px;
	}

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
 

	.usa{
		margin-right: 0;
	} 

	.shipping img{
		width: 100%;
	}

	.searchform input{
		width: 160px;
	}

	.product-information span span{
		width: 100%;
	}

	.productinfo h2{
		color: rgb(34, 34, 34);
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
	  font-weight: 400;
	}
	.product-overlay h2{
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 700;
	}
	
	
	.productinfo p{
	  font-family: 'Roboto', sans-serif;
	  font-size: 14px;
	  font-weight: 400;
	  color: #696763;
	}
	
	.productinfo img{
	  width: 100%;
	}
	
	.productinfo{
	 position:relative;
	 padding-left: 30px;
	 padding-right: 30px;
	}
	
	.product-overlay {
	  background:rgb(31, 31, 31);
	  top: 0;
	  display: none;
	  height: 0;
	  position: absolute;
	  transition: height 500ms ease 0s;
	  width: 100%;
	  display: block;
	  opacity:
	}
	
	.single-products:hover .product-overlay {
	  display:block;
	  height:100%;
	}
	
	
	.product-overlay .overlay-content {
	  bottom: 0;
	  position: absolute;
	  bottom: 0;
	  text-align: center;
	  width: 100%;
	}
	
	.product-overlay .add-to-cart {
	  background:#fff;
	  border: 0 none;
	  border-radius: 0;
	  color: rgb(24, 24, 24);
	  font-family: 'Roboto', sans-serif;
	  font-size: 15px;
	  margin-bottom: 25px;
	}
	
	.product-overlay .add-to-cart:hover {
	  background:#fff;
	  color: rgb(26, 26, 26);
	}
	
	
	.product-overlay p{
	  font-family: 'Roboto', sans-serif;
	  font-size: 14px;
	  font-weight: 400;
	  color: #fff;
	}
	
	
	#similar-product .carousel-inner .item img{
		width: 65px;
	}
	

	#cart_items .cart_info .cart_description h4, 
	#cart_items .cart_info .cart_description p{
		text-align: center;
	} 
	.product-name {
		font-size:45px;
	}

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {

	.product-name {
		font-size:45px;
	}
	.product-information{
		width:60%;
	}

	.category-tab ul{
		width: 960px;
	}

	.view-product {
		margin-left: 0px;
		width: 90%
	}
	.col-md-3{
		max-width: 25%;
		float: left;
	}

	.product-image-wrapper{
		margin-bottom: 10px; 
		margin-right: 0px;
		padding-right: 0px;
		display: inline-block;
	}

	.shop-menu ul li a{
		padding-left: 0;
	}

	#slider-carousel .item{
		padding-left: 30px;
	}

	.item h2{
		font-size: 24px;
	}

	.girl{
		margin-left: 0;
	}

	.pricing{
		width: 100px;
	}


	.shipping img{
		width: 100%;
	}

	.slider.slider-horizontal{
		width: 100% !important;
	}

	.tab-pane .col-sm-3, .features_items .col-sm-4{
		width: 50%;
	}

	.footer-widget .col-sm-2{
		width: 33%;
		display: inline-block;
		margin-bottom: 50px;
	}

	.footer-widget .col-sm-3{
		display: inline-block;
		width: 40%;
	}

	#similar-product .carousel-inner .item img{
		width: 60px;
		margin-left: 0;
	}

	.product-information span span{
		display: block;
		width: 100%;
	}

	.
	.product-information .cart{
		margin-left: 0;
		margin-top: 15px;
	}

	.item-control i{
		font-size: 12px;
		padding: 5px 6px;
	}

	#cart_items .cart_info .cart_description h4, #cart_items .cart_info .cart_description p{
		text-align: center;
	}

	.companyinfo h2{
		font-size: 20px;
	}

	.address {
		margin-top: 48px;
		margin-left: 20px;
	}

	.address p {
		font-size: 12px;
		top: 5px;
	}

}

/* xs */
@media (max-width: 767px) {

	.col-md-3 {
		float: left;
		width: auto;
	}

	.left-sidebar h2, .brands_products h2 {
		font-size:10px;
		margin-right: 100px;
	}
	.category-products .panel-default .panel-heading .panel-title a {
		font-size: 10px;
	}
	.left-sidebar {
		width: 150px;
	}
	.product-name {
		font-size: 25px;
	}
	.view-product{
		width: 200px;
	}
	.product-image-wrapper{
		max-width: 200px;
		float: left;
		margin-bottom: 1px; 
	}

	.header_top .col-sm-6:first-child{
		display: inline-block;
		float: left;
	}

	.header_top .col-sm-6:last-child{
		display: inline-block;
		float: right;
	}

	.header-middle .col-sm-4 {
		display: inline-block;
		overflow: inherit;
		width: 100%;
	}

	.social-icons ul li a i {
		padding: 8px 10px;
	}

	.shop-menu.pull-right{
		float: none !important;
	}

	.shop-menu .nav.navbar-nav{
		margin-left: -30px;
	}

	.header-bottom .col-sm-9{
		display: inline-block;
		width: 100%;
	}

	.mainmenu{
		width: 100%;
	}

	.mainmenu ul li{
		background: rgba(0, 0, 0, 0.5);
		padding-top: 15px;
		padding-bottom: 0;
	}

	.mainmenu ul li:last-child{
		padding-bottom: 15px;
	}

	.mainmenu ul li  a{
		color: #fff;
	}

	.navbar-collapse.in{
		overflow: inherit;
	}

	.mainmenu ul li a.active{
		padding-left: 15px;
	}

	.dropdown .fa-angle-down{
		display: none;
	}

	.ul.sub-menu{
	position: relative;
	width: auto;
	display: block;
	background: transparent;
	box-shadow: none;
	top: 0;
	}

	.sub-menu li{
		background: transparent;
	}

	.mainmenu .navbar-nav li ul.sub-menu li{
		background: transparent;
		padding-bottom:0;
	}

	.nav.navbar-nav > li:hover > ul.sub-menu{
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
	box-shadow: none;
	}

	.header-bottom{
		position: relative;
	}

	.header-bottom .col-sm-3 {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 38px;
	}

	#slider-carousel .item{
		padding-left: 0;
	}

	.shipping{
		margin-bottom: 25px;
	}

	.pricing{
		width: 100px;
	}

	.footer-top .col-sm-7 .col-sm-3{
		width: 50%;
		float: left;
	}

	.footer-widget .col-sm-2 {
		width: 28%;
		display: flex;
		margin-bottom: 50px;
		margin-top: 0;
		float: left;
		margin-left: 30px;
	}

	.companyinfo{
		text-align: center;
	}

	.footer-widget .col-sm-3{
		display: inline-block;
	}

	.single-widget{

	}

	.product-information span {
		display: block;
	}

	#similar-product {
		margin-bottom: 40px;
	}

	.well{
		display: inline-block;
	}
	.col-sm-3 .product-image-wrapper .single-products .productinfo {
		width: 120px;
	}
}

@media (min-width:450px) and (max-width: 550px) {
	.features_items .col-md-3 .product-image-wrapper {
		max-width: 180px;
	}
}
@media (min-width:550) and(max-width: 575px) {
	.product-image-wrapper {
		max-width: 100px;
	}
}
@media (max-width: 575px) {
	
	.col-sm-3 .product-image-wrapper .single-products .productinfo {
		width: 120px;
	}
	.productinfo h2{
		font-size: 12px;
	}
	.add-to-cart {
		font-size: 10px
	}

	.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
		width: 350px;
	}
	.product-image-wrapper {
		max-width: 100px;
		float: left;
		position: relative;
	}
	.col, .col-1, .col-10, .col-11, .col-12,
	.col-2, .col-3, .col-4, .col-5, .col-6,
	.col-7, .col-8, .col-9, .col-auto, .col-lg,
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
	.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
	.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-lg-auto, .col-md, .col-md-1, .col-md-10,
	.col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
	.col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10,
	.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4,
	.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11,
	.col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
	.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
		width:auto ;
	}
	.left-sidebar {
		width: 400px;
	}
	.category-products .panel-default .panel-heading .panel-title a {
		font-size: 13px;
	}
}

/* XS Portrait */
@media (max-width: 480px) {

	.col-md-2 img {
		width: 20%;
	}

	.contactinfo{
		text-align: center;
	}

	.contactinfo ul li a {
		padding-right: 15px;
		padding-left: 0;
	}

	.social-icons.pull-right{
		float: none !important;
		text-align: center;
	}

	.btn-group.pull-right, 
	.footer-bottom .pull-left, 
	.footer-bottom .pull-right, 
	.mainmenu.pull-left,
	.media.commnets .pull-left,
	.media-list .pull-left{
		float: none !important;
	}

	.header_top .col-sm-6:first-child{
		display: block;
		float: none;
	}

	.header_top .col-sm-6:last-child{
		display: block;
		float: none;
	}

	.contactinfo .nav.nav-pills, .social-icons .nav.navbar-nav{
		display: inline-block;
	}

	.logo{
		text-align: center;
		width: 100%;
	}

	.shop-menu ul li {
		padding: 0;
	}

	.header-middle .col-sm-4{
		text-align: center;
		overflow: inherit;
	}

	.shop-menu .nav.navbar-nav {
		margin-left: 0;
	}

	.btn-group>.btn-group:last-child>.btn:first-child{
		margin-right: 0;
	}

	.header-bottom .col-sm-9{
		display: inline-block;
		width: 100%;
	}

	.mainmenu{
		width: 100%;
	}

	.mainmenu ul li{
		background: rgba(0, 0, 0, 0.5);
		padding-top: 15px;
		padding-bottom: 0;
	}

	.mainmenu ul li:last-child{
		padding-bottom: 15px;
	}

	.mainmenu ul li a {
		color: #FFF;
		padding-bottom: 0;
	}

	.navbar-collapse.in{
		overflow: inherit;
	}

	.mainmenu ul li a.active{
		padding-left: 15px;
	}

	.dropdown .fa-angle-down{
		display: none;
	}

	ul.sub-menu{
	position: relative;
	width: auto;
	display: block;
	background: transparent;
	box-shadow: none;
	top: 0;
	}


	.mainmenu .navbar-nav li ul.sub-menu li{
		background: transparent;
		padding-bottom:0;
	}

	.nav.navbar-nav > li:hover > ul.sub-menu{
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
	box-shadow: none;
	}


	.item{
		padding-left: 0;
	}

	.item h1{
		font-size: 30px;
		margin-top: 0;
	}

	.item h2{
		font-size: 20px;
	}

	.pricing{
		width: 70px;
	}

	.category-tab ul li a{
		font-size: 12px;
	}

	.companyinfo h2, .companyinfo p{
		text-align: center;
	}

	.video-gallery{
		margin-top: 30px;
	}

	.footer-bottom p{
		font-size: 13px;
		text-align: center;
	}

	.footer-widget .col-sm-2 {
		width: 50%;
		display: flex;
		margin-bottom: 50px;
		margin-top: 0;
		float: left;
		padding-right: 0;
		padding-left: 30px;
		margin-left: 0;
	}

	.single-widget {
		padding-left: 0;
	}

	.features_items{
		margin-top: 30px;
	}


	#similar-product .carousel-inner .item img{
		margin-left: 4px;
	}

	.product-information{
		margin-top: 40px;
	}

	#reviews p, .blog-post-area .single-blog-post p{
		text-align: justify;
	}

	#reviews form span input{
		width: 100%;
		margin-bottom: 20px;
	}

	#reviews form span input:last-child{
		margin-left: 0;
	}

	.blog-post-area .single-blog-post h3{
		font-size: 14px;
	}

	.blog-post-area .post-meta ul li{
		margin-right: 7px;
	}

	.shipping{
		margin-bottom: 20px;
	}

	.commnets{
		padding: 0;
	}

	.content-404 h1{
		font-size: 30px;
	}

	.content-404 h2 a{
		font-size: 20px;
	}

	.order-message{
		display: inline-block;
	}

	.response-area .media img{
		width: auto;
	}

	.sinlge-post-meta li{
		margin-bottom: 10px;
	}

	.product-information{
		padding-left: 0;
		text-align: center;
	}

	.product-information span span{
		float: none;
	}

	.product-image-wrapper{
		width: 100%;
		float: left;
		margin-bottom: 1px; 
		margin-left: auto;
		max-width: 200px;
	}

	.productinfo .h2{
		font-size: 10px;
	}

	.single-products.p {
		font-size: 2px;
	}

	.view-product {
		position: relative;
		width: 70%;
	}

	.product-information {
		padding-left: 0;
		text-align: center;
		width: 90%;
		float: left;
	}

	.carousel {
		width: 100%;
		margin-left: 20px;
	}

	.carousel-recommend {
		width: 400px;
	}

	.category-tab {
		overflow: hidden;
	}
}
@media (max-width:450px) {

	.product-image-wrapper {
		width: 130px;
		margin-left: 20px;
	}
}
@media (max-width:340px) {
	.product-image-wrapper {
		width: 110px;
	}
}
@media (max-width:380px) {
	.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
		width: 200px;
	}
	.view-product {
		margin-left: 10px;
	}
	.product-information {
		width: 75%;
	}
	#similar-product {
		margin-left: 0px;
	}
}
@media (max-width:440px) {

	.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
		width: 250px;
	}
}
@media (max-width:400px) {

	.product-image-wrapper{
		margin-left: auto;
	}
}