body,html{
	height: 100%;
	background: #EEE;
  }
  
  form{
	display: block;
	position: absolute;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 500px;
	text-align: center;
  }
  
  form input{
	height: 10px;
	border: none;
	border-bottom: 2px solid #DDD;
	  border-radius: 25px;
	padding: 20px 35px;
	width: 120px;
	  font-size: 1em;
	  border: 2px solid #777777;
  }
  
  button, input{
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
  }
  
  form input:focus{
	width: 300px;
	  outline: 0;
  }
  
  form button:hover{
	background: #222;
  }
  
  form input:focus ~ button{
	display: inline-block;
	  opacity: 1;
  }